<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.tubs.cs.ibr.fsg"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="15" />

    <uses-permission android:name="de.tubs.ibr.dtn.permission.DTN_COMMUNICATION" />
    <uses-permission android:name="de.tubs.ibr.dtn.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!--
<uses-feature android:name="android.hardware.nfc" android:required="true" />
Falls die App im Playstore nur für Geräte mit NFC-Hardware verfügbar sein soll
    -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light.DarkActionBar" >
        <activity
            android:name=".activities.StartActivity"
            android:noHistory="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/filter_nfc" />
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name=".activities.RegistrationTeamSelectionActivity"
            android:icon="@drawable/icon_register"
            android:label="@string/main_activity_button_1" >
        </activity>
        <activity
            android:name=".activities.RegistrationDriverSelectionActivity"
            android:icon="@drawable/icon_register"
            android:label="@string/main_activity_button_1" >
        </activity>
        <activity
            android:name=".activities.BriefingCheckInActivity"
            android:icon="@drawable/icon_briefing_in"
            android:label="@string/main_activity_button_2" >
        </activity>
        <activity
            android:name=".activities.BriefingCheckOutActivity"
            android:icon="@drawable/icon_briefing_out"
            android:label="@string/main_activity_button_3" >
        </activity>
        <activity
            android:name=".activities.RunActivity"
            android:icon="@drawable/icon_run"
            android:label="@string/main_activity_button_4" >
        </activity>
        <activity
            android:name=".activities.InfoTerminalActivity"
            android:icon="@drawable/icon_infoterminal"
            android:label="@string/main_activity_button_5" >
        </activity>
        <activity
            android:name=".activities.ErrorActivity"
            android:icon="@drawable/icon_error"
            android:label="@string/title_activity_error"
            android:noHistory="true" >
        </activity>
        <activity
            android:name=".activities.DataVersionActivity"
            android:icon="@drawable/ic_launcher"
            android:label="@string/title_activity_data_version"
            android:noHistory="true" >
        </activity>
        <activity
            android:name=".activities.UpdateRequestActivity"
            android:icon="@drawable/ic_launcher"
            android:label="@string/title_activity_update_request"
            android:noHistory="true" >
        </activity>
        <activity
            android:name=".activities.RegistrationWriteToTagActivity"
            android:icon="@drawable/icon_register"
            android:label="@string/title_activity_registration_write_to_tag" >
        </activity>

        <service android:name=".dtn.DTNService" >
        </service> <!-- android:process=".fsg_service" -->

        <receiver
            android:name=".dtn.DTNReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="de.tubs.ibr.dtn.intent.RECEIVE" />

                <category android:name="de.tubs.cs.ibr.fsg" />
            </intent-filter>
        </receiver>

        
    </application>

</manifest>