<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.tubs.cs.ibr.fsg"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="15" />
    
    <uses-permission android:name="android.permission.NFC" />
    
     <!--
     <uses-feature android:name="android.hardware.nfc" android:required="true" />
     Falls die App im Playstore nur für Geräte mit NFC-Hardware verfügbar sein soll
     -->

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light.DarkActionBar" >
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />      
            </intent-filter>
            <intent-filter>
            	<action android:name="android.nfc.action.TECH_DISCOVERED"/>
            </intent-filter>
            <meta-data android:name="android.nfc.action.TECH_DISCOVERED" android:resource="@xml/filter_nfc"/>
        </activity>
        <activity android:name=".activities.BriefingCheckInActivity">
<!--              <intent-filter> -->
<!--              	<action android:name="android.nfc.action.TECH_DISCOVERED"/> -->
<!--              </intent-filter> -->
<!--              <meta-data android:name="android.nfc.action.TECH_DISCOVERED" android:resource="@xml/filter_nfc"/> -->
        </activity>
        <activity android:name=".activities.BriefingCheckOutActivity"></activity>
        <activity android:name=".activities.DriverRegistrationActivity"></activity>
        <activity android:name=".activities.InfoTerminalActivity"></activity>
        <activity android:name=".activities.RunActivity"></activity>
    </application>

</manifest>